#novo-cadastro{
    background-color: rgb(56, 170, 73);
    color: #ffffff;
    border-radius: 5px;
    border-style: initial;
    padding: 10px 50px 10px 50px;
    font-weight:bold;
    font-size: 1em;
    letter-spacing: 2px;
    float: right;
}
#novo-cadastro:hover{
    background-color: rgb(56, 150, 90);
}