@charset "UTF-8";

#bloco1 h1{
    color: rgb(74, 74, 220);
}
#bloco2 h1{
    color: rgb(115, 220, 74);
}
#bloco3 h1{
    color: rgb(220, 74, 74);
}

#bloco2{
    margin: 0px;
}

main section.container div{
    padding: 0;
    margin: 0px 10px 0px 10px;
    background-color: var(--cor-fundo);
    flex: 1;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-style: inherit;
    border-radius: 5px;
}

main section.container div p{
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-right: 5px;
    float: right;
    text-align: end;
    color: var(--cor-campo-foco); 
}

main section.container div h1{
    text-align: center;
    font-size: var(--fonte-enorme);
}

.tabela{
    height: 60vh;
}
