
nav{
    background-color: var(--cor-fundo);
    width: 300px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

nav div{
    display: flex;
    background: #060059;
    background: var(--cor-gradiente);
    color: var(--cor-branco);
    align-items: center;
}

nav div h1{
    font-size: var(--fonte-enorme);
    display: flex;
    margin: 10px;
}

nav div p{
    display: flex;
    margin-right: 10px;
}

nav ul{ 
    margin: 0px;
    padding-left: 0px;
    list-style: none;
    font-size: var(--fonte-pequena);
}
nav a{
    display: flex;
    color: var(--cor-texto);
    padding: 20px;  
    background-color: var(--cor-fundo4);
    color: var(--cor-texto);
    line-height: 0;
    align-items: center;
    gap: 10px;
    margin: 5px;
    border-radius: 5px;
}   
nav a:hover{
    background-color: var(--cor-fundo-claro);
    color: var(--cor-branco);
}
.ativo{
    background-color: var(--cor-header-fundo);
    color: var(--cor-branco);
}