@charset "UTF-8";

body{
    background-color: #f4f4f4;
    font-family: Verdana;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 30px;
}

main{
    width: 450px;
    height: 550px;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.logo{
    color: #000000;
    background-color:#e1e1e1;
    margin: 30px 150px 10px 150px;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 140px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.logo p{
    margin-top: 30px;
}
.logo h1{
    padding-top: 50px;
    line-height: 0em;
    font-size: 3em;
    margin-bottom: 25px;
}

.campo{
    border: 2px solid black;
    margin: 12px 96px 12px 96px;
    height: 40px;
    width: 226px;
    padding-left: 15px;
    padding-right: 15px;
}

.botao{
    color: #ffffff;
    border-radius: 5px;
    border-color: black;
    border-style: initial;
    background-color: black;
    margin: 15px 100px 10px 100px;
    height: 40px;
    width: 250px;
}

.botao:hover{
    background-color: rgb(100, 100, 100);
}

#erro{
    display: none;
    border: 2px solid rgb(220, 74, 74);
    background-color: rgb(242, 182, 182);
    margin: 15px 96px 15px 96px;
    width: 256px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: rgb(220, 74, 74);
    text-align: center;
    font-weight: normal;
}

.link{
    text-align: center;
    font-weight: normal;
}

a{
    color: rgb(74, 74, 220);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}