@charset "UTF-8";

body{
    background: #060059;
    background: var(--cor-gradiente);
    font-family: Verdana;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100vh;
}

::placeholder {
  color: var(--cor-texto2);  
  opacity: 1;
}

#main-cadastro{
    height: 700px;
}

main{
    width: 450px;
    height: 550px;
    background-color: var(--cor-fundo);
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.logo{
    color: var(--cor-branco);
    background: #060059;
    background: var(--cor-gradiente);
    margin: 30px 150px 10px 150px;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 140px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 5px 5px 10px #00000080;
}

.logo p{
    color: var(--cor-branco);
    margin-top: 30px;
    font-size: 1em;
}

.logo h1{
    padding-top: 50px;
    line-height: 0em;
    font-size: var(--fonte-enorme);
    margin-bottom: 25px;
}

.campo{
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-texto);
    color: var(--cor-texto);
    border-radius: 10px;
    margin: 12px 96px 12px 96px;
    height: 40px;
    width: 226px;
    padding-left: 15px;
    padding-right: 15px;
}

.campo:focus{
    outline: none;
    border-bottom: var(--cor-campo-foco) solid 4px;
    border-radius: 10px;
}

.botao{
    color: var(--cor-branco);
    font-weight: 600;
    border-radius: 5px;
    border-color: var(--cor-texto);
    border-style: initial;
    background: #060059;
    background: var(--cor-gradiente);
    margin: 15px 100px 10px 100px;
    height: 40px;
    width: 250px;
}

.botao:hover{
    background: #060059;
    background: var(--cor-gradiente-hover)
}

.link{
    text-align: center;
    font-weight: normal;
}

a{
    color: rgb(74, 74, 220);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

p{
    color: var(--cor-texto);
}

#erro{
    display: none;
    color: rgb(220, 74, 74);
    margin: 15px 96px 15px 96px;
    width: 256px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: rgb(220, 74, 74);
    text-align: center;
    font-weight: normal;
    font-size: var(--fonte-erro);
}