body{
    background-color: var(--cor-fundo2);
    font-family: Verdana;
    margin: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--cor-texto);
    scrollbar-color: var(--cor-texto2) var(--cor-fundo2);
}
html{
    scrollbar-color: var(--cor-texto2) var(--cor-fundo2);
}

::placeholder {
  color: var(--cor-texto2);  
  opacity: 1;
}

a{
    text-decoration: none;
}

.botao:hover{
    transform: scale(1.02);
}
.container{
    display: flex;
    flex: 1;
}

.principal{
    flex: 1;
    margin: 0px;
}

.campo{
    font-size: var(--fonte-label);
}

main a:hover{
    color:var(--cor-texto2);
}

main a{
    text-decoration: none;
    color: var(--cor-texto);
}

header{
    background-color: var(--cor-header-fundo);
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px;
    border-style: inherit;
    border-radius: 5px;
    
}
header button img{
    width: 16px;
    height: 16px;
}

em{
    font-style: normal;
}

header a{
    display: flex;
    font-size: var(--fonte-label);
    height: 20px;
    padding: 10px;
    margin: 10px;
    color: white;
    align-items: center;
}
header a:hover{
    color: rgb(207, 225, 255);
}

#placeholder{
    flex: 1;
}

#icone{
    display: flex;
    height: 5px;
    width: 5px;
    background-color: var(--cor-fundo);
    color: var(--cor-texto2);
    font-weight:lighter;
    font-style: normal;
    border-radius: 100px;
    padding: 14px;
    font-size: var(--fonte-media);
    margin-left: 12px;
    align-items: center;
    justify-content: center;
}

#sair{
    border-left: var(--cor-texto2) solid 2px;
    padding-left: 30px;
}

header form{
    display: flex;
    width: 40vw;
}
#pesquisa{
    border: none;
    color: var(--cor-texto);
    background-color: var(--cor-campo);
    border-radius: 5px;
    padding: 10px;
    margin-right: 0px;
    flex: 1;
}

.tabela h1{
    color: var(--cor-texto2);
    font-size: var(--fonte-media);
    float: left;
}
.tabela{
    border-style: inherit;
    border-radius: 5px;
    overflow: auto;
    padding: 20px;
    margin: 10px;
    background-color: var(--cor-fundo);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}
table{
    padding: 5px;
    width: 100%;
    border-spacing: 1px;
}
.tabela #nome{
    width: 35%;
}
.tabela #email{
    width: 32%;
}
#tabela-cadastros #status{
    width: 13%;
    text-align: center;
    padding-left: 35px;
}
.tabela #cad-data{
    width: 20%;
    text-align: center;
}
.tabela #evento-data{
    text-align: center;
}       
td:nth-child(3){
    text-align: center;
}
td:nth-child(4){
    text-align: center;
}

td{
    border-top: var(--cor-fundo) solid 1px;
    padding: 10px;
}
tr{
    font-size: var(--fonte-pequena);
}
tr:hover{
    background-color: var(--cor-fundo2  );
}

th{
    font-weight:100;
    padding: 10px;
    color: var(--cor-branco);
    background-color: var(--cor-tema);
    user-select: none;
}
th:hover{
    background-color: var(--cor-fundo-claro);
}

th strong{
    visibility: hidden;
}
.page-botao{
    border: none;
    background-color: var(--cor-fundo);
    color: var(--cor-texto2);
}
.ativo:hover{
    background-color: var(--cor-tema)
}

.ativo{
    color: var(--cor-botao-ativo);
}
.page-controle{
    display: flex;
    justify-content: space-around;
}

.par{
    background-color: var(--cor-fundo4);
}

#erro{
    display: none;
    color: var(--cor-texto);
    margin: 15px 96px 15px 96px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: rgb(220, 74, 74);
    color: rgb(220, 74, 74);
    text-align: center;
    font-weight: normal;
    font-size: var(--fonte-erro);
}

  .toggle input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .toggle label {
    cursor: pointer;
    width: var(--size);
    height: calc(var(--size) / 2);
    background: #c0c0c0;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  .toggle label:after {
    content: '';
    position: absolute;
    top: 6%;
    left: 2.5%;
    width: calc(50% - 5%);
    height: calc(100% - 11%);
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  .toggle input:checked + label {
    background: var(--cor-header-fundo);
  }

  .toggle input:checked + label:after {
    left: calc(100% - 2.5%);
    transform: translateX(-100%);
  }

  .toggle label:active:after {
    width: 55%;
  }

  .status-ativo{
    color: rgb(115, 220, 74);
    font-weight: 600;
  }

  .status-inativo{
    color: rgb(220, 74, 74);
    font-weight: 600;
  }
