body{
    background-color: var(--cor-fundo2);
    font-family: Verdana;
    margin: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--cor-texto);
}

.container{
    display: flex;
    flex: 1;
}

.principal{
    flex: 1;
    margin: 10px;
}

a:hover{
    color:var(--cor-texto2);
}

a{
    text-decoration: none;
    color: var(--cor-texto);
}

header{
    background-color: var(--cor-header-fundo);
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px;
    border-style: inherit;
    border-radius: 5px;
}
header button img{
    width: 16px;
    height: 16px;
}

header a{
    display: flex;
    font-size: small;
    height: 20px;
    padding: 10px;
    margin: 10px;
}

#usuario{
    margin-left: 350px;
}

#icone{
    background-color: var(--cor-fundo);
    color: var(--cor-texto2);
    font-weight:lighter;
    border-radius: 80px;
    padding: 10px;
    font-size:15px;
    line-height: 0px;
    margin-left: 10px;
}

#sair{
    border-left: var(--cor-texto2) solid 2px;
    padding-left: 30px;
}

header form{
    display: flex;
    width: 70vh;
}
#pesquisa{
    background-color: var(--cor-fundo);
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    margin-right: 0px;
    flex: 1;
}
#btn-pesquisar{
    border-radius: 5px;
    border-left: var(--cor-header-fundo) solid 1px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: 36px;
    width: 36px;
    background-color: var(--cor-fundo);
    line-height: 36px;
}
#btn-pesquisar:hover{
    background-color: var(--cor-fundo3)
}


.tabela h1{
    color: var(--cor-texto2);
    font-size: large;
    float: left;
}
.tabela{
    border-style: inherit;
    border-radius: 5px;
    overflow: auto;
    padding: 20px;
    margin: 10px;
    background-color: var(--cor-fundo);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    user-select: none;
}
table{
    padding: 5px;
    width: 100%;
}
.tabela #nome{
    width: 35%;
}
.tabela #email{
    width: 35%;
}
#tabela-cadastros #status{
    width: 10%;
    text-align: center;
}
.tabela #cad-data{
    width: 20%;
    text-align: center;
}
td:nth-child(3){
    text-align: center;
}
td:nth-child(4){
    text-align: center;
}

td{
    border-top: var(--cor-fundo) solid 1px;
    padding: 10px;
}
tr:hover{
    background-color: var(--cor-campo);
}

th{
    font-weight:100;
    padding: 10px;
    color: var(--cor-texto2);
    background-color: var(--cor-fundo3);
}
th:hover{
    background-color: var(--cor-borda);
}

th strong{
    visibility: hidden;
}
.page-botao{
    border: none;
    background-color: var(--cor-fundo);
    color: var(--cor-texto2);
}
.ativo:hover{
    color: var(--cor-texto)
}
.ativo{
    color: var(--cor-botao-ativo);
}
.page-controle{
    display: flex;
    justify-content: space-around;
}