
.editar-perfil{
    background-color: var(--cor-fundo);
    border-style: inherit;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    flex: 1;
    margin: 10px;
}

.campo{
    background-color: var(--cor-campo);
    color: var(--cor-texto);
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    height: 40px;
    width: 250px;
    padding-left: 15px;
    padding-right: 15px;
}
.campo:focus{
    outline: none;
    border-bottom: var(--cor-campo-foco) solid 4px;
    border-radius: 10px;
}

.senha{
  margin-top: 10x;
  margin-bottom: 0px;
}

.botao{
    margin: auto;
    color: #ffffff;
    border-radius: 5px;
    border-color:var(--cor-tema);
    border-style: initial;
    background-color: var(--cor-tema);  
    height: 40px;
    width: 220px;
}

.botao:hover{
    background-color: rgb(12, 70, 106);
}

.editar-perfil h1{
    font-size: 1.5em;
    margin-top: 0px;
}

.editar-perfil h2{
    font-size: 1.2em;
    margin-left: 10px;
    margin-bottom: 0px;
}
.editar-perfil p{
    margin-left: 10px;
}

.editar-perfil hr{
    width: 475px;
}

/*checkbox */
.toggle{
    margin: 0px;
    margin-left: 50px;
    line-height: 10px;
}

.toggle label{
  --size: 50px;
}