#btn-imprimir{
    background-color: rgb(60, 95, 184);
    color: #ffffff;
    border-radius: 5px;
    border-style: initial;
    padding: 10px 50px 10px 50px;
    font-weight:bold;
    font-size: 1em;
    letter-spacing: 2px;
    float: right;
}

#btn-imprimir:hover{
    background-color: rgb(45, 73, 143);
}

.tabela{
    height: 80vh;
}


@page {
    size: A4;
    margin: 0;
}
@media print {
    
    html, body{
        visibility: hidden;
    }
    .principal{
        margin: 0px;
        padding: 0px;
    }
    main{
        margin: 0px;
        padding: 0px;
    }
    .principal header{
        display: none;
    }
    nav{
        display: none !important;
    }
    .tabela {
        visibility: visible;
        box-shadow: none !important;
        height: min-content !important;
    }
    table{
        border: 1px solid black;
        font: 0.1em;
    }
    tr{
        page-break-inside: avoid;
        page-break-after: auto;
        font-size: 0.9em;
    }
    thead {
        display: table-header-group;
    }
    #btn-imprimir{
        visibility: hidden;
    }
    #btn-proxima{
        visibility: hidden;
    }
    #btn-anterior{
        visibility: hidden;
    }

    .tema-escuro {
        --cor-fundo: #ffffff!important;
        --cor-fundo2:#c3c4ca!important;
        --cor-fundo3:#cecece!important;
        --cor-fundo4:#e4e8ee !important;
        --cor-texto: #000000!important;
        --cor-texto2:#6a6a6a!important;
        --cor-texto3:#575757!important;
    }
    strong{
        display: none;
    }
    #tabela-cadastros #status{
        padding-right: 35px;
    }
}