#imprimir{
    background-color: rgb(74, 74, 220);
    color: #ffffff;
    border-radius: 5px;
    border-style: initial;
    padding: 5px;
    font-weight: bolder;
    float: right;
    font-size: larger;
}

#imprimir:hover{
    background-color: rgb(74, 74, 110);
}