@charset "UTF-8";

nav div h1{
    transition: all 0.3s ease;
}
nav{
    background-color: var(--cor-fundo);
    width: 300px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-width: 75px;
}

nav div{
    display: flex;
    background: #060059;
    background: var(--cor-gradiente);
    color: var(--cor-branco);
    align-items: center;
}

nav div h1{
    font-size: var(--fonte-enorme);
    display: flex;
    margin: 10px;
}

nav div p{
    display: flex;
    margin-right: 10px;
}

nav ul{ 
    margin: 0px;
    padding-left: 0px;
    list-style: none;
    font-size: var(--fonte-pequena);
    position: sticky;
    top: 0;
}
nav li{
    margin: 0px;
}
nav a{
    display: flex;
    color: var(--cor-texto);
    padding: 20px;  
    color: var(--cor-texto);
    line-height: 0;
    align-items: center;
    gap: 10px;
    margin: 5px;
    border-radius: 5px;
}   
nav a:hover{
    background-color: var(--cor-fundo-claro);
    color: var(--cor-branco);
    transition: all 0.2s ease-in;
}
.ativo{
    background-color: var(--cor-header-fundo);
    color: var(--cor-branco);
}

.material-symbols-outlined {
  display: inline-block;
  width: 24px;
  text-align: center;
}
@media(max-width:1250px){
    .description,nav div p{
        display: none;
    }
    nav div h1{
        transform: scale(0.8) !important;
        position: relative;
        left: -10px;
    }
    nav{
        width: 64px;
    }
}