@charset "UTF-8";

body{
    background: #060059;
    background: var(--cor-gradiente);
    font-family: Verdana;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100vh;
    
}

html{
    scrollbar-color: var(--cor-texto2) var(--cor-fundo2);
}

::placeholder {
  color: var(--cor-texto2);  
  opacity: 1;
}

#main-cadastro{
    min-height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}

main{
    width: 450px;
    height: 550px;
    background-color: var(--cor-fundo);
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.logo{
    color: var(--cor-branco);
    background: #060059;
    background: var(--cor-gradiente);
    margin: 30px 150px 10px 150px;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 140px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 5px 5px 10px #00000080;
}

.logo p{
    color: var(--cor-branco);
    margin-top: 30px;
    font-size: 1em;
}

.logo h1{
    padding-top: 50px;
    line-height: 0em;
    font-size: var(--fonte-enorme);
    margin-bottom: 25px;
}

.campo{
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-texto);
    color: var(--cor-texto);
    border-radius: 10px;
    margin: 12px 96px 12px 96px;
    height: 40px;
    width: 226px;
    padding-left: 15px;
    padding-right: 15px;
}

.campo:focus{
    outline: none;
    border-bottom: var(--cor-campo-foco) solid 4px;
    border-radius: 10px;
}

.botao{
    color: var(--cor-branco);
    font-weight: 600;
    border-radius: 5px;
    border-color: var(--cor-texto);
    border-style: initial;
    background: #060059;
    background: var(--cor-tema);
    margin: 15px 100px 10px 100px;
    height: 40px;
    width: 250px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.botao:hover{
    background-color: #02436c;;
    transform:scale(1.01);
}

.link{
    text-align: center;
    font-weight: normal;
}

a{
    color: var(--cor-azul);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

p{
    color: var(--cor-texto);
}

#erro{
    display: none;
    color: var(--cor-vermelho);
    margin: 15px 96px 15px 96px;
    width: 256px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: var(--cor-vermelho);
    text-align: center;
    font-weight: normal;
    font-size: var(--fonte-erro);
}

.campo{
    transition: all 0.2s ease;
    font-size: var(--fonte-label);
}

.erro{
    border-radius: 10px;
    border: 2px solid var(--cor-vermelho);
    border-bottom: var(--cor-vermelho) solid 4px!important;
}

.erro-campo{
    display: none;
    text-align: left;
    color: var(--cor-vermelho);
    margin: 0px 22%;
    font-size: var(--fonte-label);
    font-weight: 550;
}

#notification{
    display: flex;
    left: 3%;
    width: 250px;
    height: 20px;
    color: var(--cor-branco);
    border-radius: 5px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    transition: 1.3s;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
}

.isOk{
    background-color: var(--cor-azul);
}
.isNotOk{
    background-color: var(--cor-vermelho);
}
.hidden{
    left: -20% !important;
    opacity: 0;
    right: 0;
}

.disable{
    background-color: rgb(43, 64, 76);
    color: rgb(99, 99, 99);
    transform: scale(0.99);
    pointer-events: none !important;
}

.disable:hover{
    background-color: rgb(43, 64, 76);
    color: rgb(99, 99, 99);
    transform: scale(0.99);
    pointer-events: none !important;
}