@charset "UTF-8";

#bloco1 h1{
    color: var(--cor-azul);
}
#bloco2 h1{
    color: var(--cor-verde);
}
#bloco3 h1{
    color: var(--cor-vermelho);
}

#bloco2{
    margin: 0px;
}
.dashboard-counts{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
}
main section.container div{
    padding: 0;
    margin: 0px 0px 0px 0px;
    background-color: var(--cor-fundo);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-style: inherit;
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
}

main section.container div p{
    font-size: var(--fonte-pequena);
    margin-bottom: 5px;
    margin-right: 5px;
    float: right;
    text-align: end;
    color: var(--cor-texto3); 
}

main section.container div h1{
    text-align: center;
    font-size: var(--fonte-enorme);
}

.tabela{
    height: 85vh;
}

@media(max-width:1250px){
    .dashboard-counts{
        flex-direction: column;
        
    }
}